<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <!-- <link rel="stylesheet" href="/styles/edit-story.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <script>
      let goBack = function () {
        if (confirm("Are you sure? All your changes will be discarded.")) {
          history.back();
        }
      }
    </script>
  </head>

  <body>

    <%- include("includes/header.ejs") %>

      <h1>Edit Story</h1>
      <section class="create-new-story">
        <form action="/edit-story/<%= story.id %>" method="post">
          <ul>
            <li>
              <label for="story-title">Story Title</label>
              <input type="text" name="storytitle" id="story-title" required value="<%= story.storytitle %>" />
            </li>

            <li class="non-editable">
              <label>Author:</label>
              <input value="<%= story.authorname %>(<%= story.authorid %>)" readonly />
            </li>

            <section class="genre-options">
              <p>Genre (Choose at least 1)</p>
              <ul>
                <li class="form-control-inline">
                  <% let isChecked=story.genre.includes("romance"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="romance" name="genre" value="romance" checked />
                      <% } else { %>
                        <input type="checkbox" id="romance" name="genre" value="romance" />
                        <% } %>
                          <label for="romance">Romance</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("action"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="action" name="genre" value="action" checked />
                      <% } else { %>
                        <input type="checkbox" id="action" name="genre" value="action" />
                        <% } %>
                          <label for="action">Action</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("adventure"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="adventure" name="genre" value="adventure" checked />
                      <% } else { %>
                        <input type="checkbox" id="adventure" name="genre" value="adventure" />
                        <% } %>
                          <label for="adventure">Adventure</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("drama"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="drama" name="genre" value="drama" checked />
                      <% } else { %>
                        <input type="checkbox" id="drama" name="genre" value="drama" />
                        <% } %>
                          <label for="drama">Drama</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("horror"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="horror" name="genre" value="horror" checked />
                      <% } else { %>
                        <input type="checkbox" id="horror" name="genre" value="horror" />
                        <% } %>
                          <label for="horror">Horror</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("comedy"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="comedy" name="genre" value="comedy" checked />
                      <% } else { %>
                        <input type="checkbox" id="comedy" name="genre" value="comedy" />
                        <% } %>
                          <label for="comedy">Comedy</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("angst"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="angst" name="genre" value="angst" checked />
                      <% } else { %>
                        <input type="checkbox" id="angst" name="genre" value="angst" />
                        <% } %>
                          <label for="angst">Angst</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("fanfiction"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="fanfiction" name="genre" value="fanfiction" checked />
                      <% } else { %>
                        <input type="checkbox" id="fanfiction" name="genre" value="fanfiction" />
                        <% } %>
                          <label for="fanfiction">Fanfiction</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("original"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="original" name="genre" value="original" checked />
                      <% } else { %>
                        <input type="checkbox" id="original" name="genre" value="original" />
                        <% } %>
                          <label>Original</label>
                </li>
                <li class="form-control-inline">
                  <% isChecked=story.genre.includes("other"); %>
                    <% if(isChecked) { %>
                      <input type="checkbox" id="other" name="genre" value="other" checked />
                      <% } else { %>
                        <input type="checkbox" id="other" name="genre" value="other" />
                        <% } %>
                          <label for="other">Other</label>
                </li>
              </ul>
            </section>

            <li>
              <label for="story-summary">Story Summary/Description</label>
              <textarea rows="5" type="text" name="storysummary" id="story-summary"
                required><%= story.storysummary %></textarea>
            </li>
          </ul>

          <section class="buttons">
            <button type="submit">Save/Update</button>
            <button type="button" onclick="goBack()">Cancel</button>
          </section>
        </form>
      </section>

      <section class="chapters-to-edit">
        <h1>Edit a chapter?</h1>
        <ol>
          <% for(chapter of chapters) { %>
            <li>
              <a href="/edit-chapter/<%= chapter.id %>">
                <%= chapter.chapterTitle%>
              </a>
            </li>
            <% } %>
        </ol>
      </section>

      <footer id="footer">
        <p>📚 Readly.</p>
        <a href="https://github.com/christina-cs-foothill" target="_blank">(Christina Hunter)</a>
      </footer>
  </body>

</html>