<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <!-- <link rel="stylesheet" href="/styles/edit-chapter.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <script>
      let goBack = function () {
        if (confirm("Are you sure? All your changes will be discarded.")) {
          history.back();
        }
      }

      let togglePasswordVisibility = function () {
        var passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      }
    </script>
  </head>

  <body>
    <%- include("includes/header.ejs") %>

      <h1>Edit User</h1>

      <section class="edit-chapter">
        <form method="post" action="/edit-user/<%= user.id %>">
          <ul>
            <li>
              <label for="username">User Name: </label>
              <input type="text" id="username" name="username" required value="<%= user.username %>">
            </li>
            <li class="non-editable">
              <label>User ID:</label>
              <input value="<%= user.id %>">
            </li>
            <li>
              <label for="password">Password: </label>
              <input type="password" id="password" name="password" value="<%= user.password %>" required>
            </li>
            <li class="form-control-inline">
              <input type="checkbox" onclick="togglePasswordVisibility()">
              <label for="password">Show Password </label>
            </li>
            <li class="non-editable">
              <label for="joindate">Join Date: </label>
              <input type="date" id="joindate" name="joindate" readonly value="<%= user.joindate %>" min="2023-01-01"
                max="2025-12-31">
            </li>
            <li>
              <label for="userintro">User Introduction: </label>
              <textarea id="userintro" name="userintro" rows="5"><%= user.userintro %></textarea>
            </li>
          </ul>

          <section class="buttons">
            <button type="submit">Save/Update</button>
            <button type="button" onclick="goBack()">Cancel</button>
          </section>
        </form>
      </section>
  </body>

</html>