<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <!-- <link rel="stylesheet" href="/styles/edit-chapter.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <script>
      let goBack = function () {
        if (confirm("Are you sure? All your changes will be discarded.")) {
          history.back();
        }
      }
    </script>
  </head>

  <body>
    <%- include("includes/header.ejs") %>

      <h1>Edit Chapter</h1>

      <section class="edit-chapter">
        <form method="post" action="/edit-chapter/<%= chapter.id %>">
          <ul>
            <li>
              <label for="chapterTitle">Chapter Title:</label>
              <input type="text" name="chapterTitle" id="chapterTitle" value="<%= chapter.chapterTitle %>" required />
            </li>

            <li class="non-editable">
              <label>Chapter Number:</label>
              <input type="number" value="<%= chapter.chapterNumber %>" readonly>
            </li>

            <li>
              <label for="chapterSummary">Chapter Summary:</label>
              <textarea rows="5" type="text" name="chapterSummary" id="chapterSummary"
                required><%= chapter.chapterSummary %></textarea>
            </li>

            <li>
              <label for="chapterContent">Chapter Content:</label>
              <textarea rows="10" type="text" name="chapterContent" id="chapterContent"
                required><%= chapter.chapterContent %></textarea>
            </li>
          </ul>

          <section class="buttons">
            <button type="submit">Save/Update</button>
            <button type="button" onclick="goBack()">Cancel</button>
          </section>
        </form>
      </section>
  </body>

</html>