<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/new-story.css">
    <!-- <link rel="stylesheet" href="/styles/edit-chapter.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
  </head>

  <body>
    <header id="header">
      <div id="page-logo">
        <a href="/">📚 Readly.</a>
      </div>
      <nav>
        <a href="new-story">
          <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 -960 960 960" width="2rem" fill="#000000">
            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
          </svg>
          <p class="hide">New Story</p>
        </a>
        <a href="user-profile">
          <svg xmlns="http://www.w3.org/2000/svg" height="2rem" viewBox="0 -960 960 960" width="2rem" fill="#000000">
            <path
              d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
          </svg>
          <p class="hide">User Profile</p>
        </a>
      </nav>
    </header>
    <h1>Edit Chapter</h1>

    <section class="edit-chapter">
      <form method="post" action="/edit-chapter/<%= chapter.id %>">
        <ul>
          <li>
            <label for="chapterTitle">Chapter Title:</label>
            <input type="text" name="chapterTitle" id="chapterTitle" value="<%= chapter.chapterTitle %>" required />
          </li>

          <li class="non-editable">
            <label>Chapter Number:</label>
            <input type="number" value="<%= chapter.chapterNumber %>" readonly>
          </li>

          <li>
            <label for="chapterSummary">Chapter Summary:</label>
            <textarea rows="5" type="text" name="chapterSummary" id="chapterSummary"
              required><%= chapter.chapterSummary %></textarea>
          </li>

          <li>
            <label for="chapterContent">Chapter Content:</label>
            <textarea rows="10" type="text" name="chapterContent" id="chapterContent"
              required><%= chapter.chapterContent %></textarea>
          </li>
        </ul>

        <section class="buttons">
          <button type="submit">Save/Update</button>
          <button type="reset">Cancel</button>
        </section>
      </form>
    </section>
  </body>

</html>