<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <script src="/scripts/story-obj.js" defer></script>
    <script src="/scripts/index.js" defer></script>
  </head>

  <body>
    <!-- Side navigation -->
    <%- include('includes/sidebar.ejs') %>
      <!-- Page Content -->
      <section id="main">
        <%- include("includes/header.ejs") %>
          <main>
            <section id="hero">
              <div id="hero-content">
                <ul>
                  <li id="featured-title">
                    <h2>Featured Story</h2>
                  </li>
                  <li id="story-info">
                    <p>Author Name</p>
                    <p>Date Created/Last Updated</p>
                  </li>
                  <li id="actions">
                    <a href="">Check out story</a>
                    <a href="">Upvotes/views</a>
                  </li>
                </ul>
              </div>
            </section>
            <section id="stories-authors">
              <ul>
                <li id="stories-label">
                  <button id="show-stories-btn">Show Stories</button>
                </li>
                <li id="authors-label">
                  <button id="show-authors-btn">Show Authors</button>
                </li>
              </ul>
            </section>
            <section id="story-list">
              <!-- <button class="home-page-btn" id="add-new-story-btn">Add New Story Object</button> -->
              <ul class="list-of-stories">
                <% for(const story of stories ) { %>
                  <%- include('includes/stories/story-item.ejs', {story: story}) %>
                    <% } %>
              </ul>
              <ul class="list-of-stories"></ul>
            </section>
            <section id="author-list">
              <!-- <button class="home-page-btn" id="add-new-author-btn">Add New Author Object</button> -->
              <ul class="list-of-authors">
                <% for(user of users) { %>
                  <%- include('includes/users/user-item.ejs', {user: user}) %>
                    <% } %>
              </ul>
            </section>
          </main>
          <%- include("includes/footer.ejs") %>
      </section>
  </body>

</html>