<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/story-page.css">
  </head>
  <script>
    let warnBeforeChapterDeletion = function (chapterId) {
      if (confirm("Are you sure? You cannot recover this chapter or its associated data once it is deleted.")) {
        document.getElementById("delete-chapter-btn-" + chapterId).click();
      } else {
        console.log("you canceled deletion of chapter: " + chapterId);
      }
    }

    let warnBeforeStoryDeletion = function (storyId) {
      if (confirm("Are you sure? You cannot recover this story or its associated data(i.e. chapters) once it is deleted.")) {
        document.getElementById("delete-story-btn-" + storyId).click();
      } else {
        console.log("you canceled deletion of story: " + storyId);
      }
    }
  </script>

  <body>

    <!-- Side navigation -->
    <%- include('includes/sidebar.ejs') %>

      <section id="main">
        <%- include("includes/header.ejs") %>

          <section id="story-section">
            <div class="link-button">
              <a href="/edit-story/<%= story.id %>">Edit Story</a>
              <a onclick="warnBeforeStoryDeletion('<%= story.id %>')">Delete Story</a>
              <a class="secret-btn" id="delete-story-btn-<%= story.id %>" href="/delete-story/<%= story.id %>"></a>
            </div>
            <img src="<%= story.imageurl %>">
            <h1 id="story-title">
              <%= story.storytitle %>
            </h1>
            <a id="author-name" href="/user-profile/<%= story.authorid %>">
              <%= story.authorname %>
            </a>
            <ul id="genres-list">
              <% for(genre of story.genre) { %>
                <li>
                  <p>
                    <%= genre %>
                  </p>
                </li>
                <% } %>
            </ul>
            <span>Created Date: <%= story.createdDate %> </span>
            <div id="story-details">
              <span>Upvotes: <%= story.upvotecount %> </span>
              <span>Views: <%= story.viewcount %> </span>
            </div>
            <div id="story-summary">
              <p>Summary</p>
              <hr>
              <p>
                <%= story.storysummary %>
              </p>
            </div>
          </section>

          <section id="chapter-section">
            <ul id="chapters-list">
              <% if( chapters.length < 1) { %>
                <div>
                  <h1>No chapters added yet? Add one to get your story started!</h1>
                  <div class="link-button">
                    <a href="/new-chapter/<%= story.id %>">Add new chapter</a>
                  </div>
                </div>
                <% } else { %>
                  <% for (chapter of chapters) { %>
                    <li>
                      <article>
                        <p class="chapter-title">
                          Chapter <%= chapter.chapterNumber %>: <%= chapter.chapterTitle %>
                        </p>
                        <div class="link-button">
                          <a href="/edit-chapter/<%= chapter.id %>">Edit Chapter</a>
                          <a onclick="warnBeforeChapterDeletion('<%= chapter.id %>')">Delete Chapter</a>
                          <a id="delete-chapter-btn-<%= chapter.id %>"
                            href="/delete-chapter/<%= story.id %>/<%= chapter.id %>" class="secret-btn"></a>
                        </div>
                        <div class="chapter-summary">
                          <p>Summary:</p>
                          <hr>
                          <p>
                            <%= chapter.chapterSummary %>
                          </p>
                        </div>
                        <p>
                          <%= chapter.chapterContent %>
                        </p>
                        <form method="delete">
                        </form>
                      </article>
                    </li>
                    <% } %>
                      <hr>
                      <div class="link-button">
                        <a href="/new-chapter/<%= story.id %>">Add new chapter</a>
                      </div>
                      <% } %>
            </ul>
          </section>
      </section>
  </body>

</html>