<!DOCTYPE html>
<html lang="en">

  <head>
    <title>📚 Readly.</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/user-profile.css">
    <script>
      let warnBeforeUserDeletion = function (userId) {
        if (confirm("Are you sure? You will not be able to recover this user or their associated data(i.e. stories & chapters) once they are deleted.")) {
          console.log("you want to delete user: " + userId);
          document.getElementById("delete-user-btn-" + userId).click();
        } else {
          console.log("you canceled deletion of user: " + userId);
        }
      }
    </script>
  </head>

  <body>
    <!-- Side navigation -->
    <%- include('includes/sidebar.ejs') %>

      <!-- Page Content -->
      <section id="main">
        <%- include("includes/header.ejs") %>


          <section class="user-profile">
            <ul class="list-of-authors">
              <li class="author-list-item">
                <article>
                  <a href="">
                    <span class="author-name">
                      <%= user.username %>
                        <span class="author-at">
                          <%= "\(@" + user.username + "\)" %>
                        </span>
                    </span>
                  </a>
                  <div class="link-button">
                    <a href="/edit-user/<%= user.id %>">Edit User</a>
                    <a onclick="warnBeforeUserDeletion('<%= user.id %>')">Delete User</a>
                    <a class="secret-btn" id="delete-user-btn-<%= user.id %>" href="/delete-user/<%= user.id %>"></a>
                  </div>
                  <h5 class="date-author-joined">
                    <%= "Date Joined: " + user.joindate %>
                  </h5>
                  <div class="author-intro-div">
                    <button class="home-page-btn">Author Introduction:</button>
                    <p class="brief-intro">Hi my name is Bob and I love to write romance stories!</p>
                    <p class="long-intro">
                      <%= user.userintro %>
                    </p>
                  </div>
                  <div class="work-info-div">
                    <p>
                      <%= "# of Works: " + userStories.length %>
                    </p>
                    <p>Favored genres:</p>
                    <ul>
                      <li>Romance</li>
                      <li>Drama</li>
                      <li>Angst</li>
                    </ul>
                  </div>
                  <div class="follow-div">
                    <p>Followers: 45</p>
                    <p>Following: 154</p>
                  </div>
                </article>
              </li>
              <div class="link-button">
                <a href="/new-story/<%= user.id %>">Create New Story</a>
              </div>
            </ul>

            <ul class="list-of-stories">
              <% for(const story of userStories ) { %>
                <%- include('includes/stories/story-item.ejs', {story: story}) %>
                  <% } %>
            </ul>
          </section>
          <%- include("includes/footer.ejs") %>
      </section>
  </body>

</html>