<li class="story-list-item">
  <article>
    <div class="story-details">
      <img src=<%=story.imageurl %>>
      <div>
        <h2>
          <a href="/story/<%= story.id %>">
            <%= story.storytitle %>
          </a>
        </h2>
        <!-- <p>
          <%= story.genre %>
        </p> -->
        <a href="/user-profile/<%= story.authorid %>">
          <%= story.authorname %>
        </a>
        <p>
          <%= "Created: " + story.createdDate %>
        </p>
        <p>
          <%= story.storysummary %>
        </p>
      </div>
    </div>
    <div class="upvotes-views">
      <p>
        <%= "ðŸ‘€ views: " + story.viewcount %>
      </p>
      <p>
        <%= "â¤ï¸ upvotes: " + story.upvotecount %>
      </p>
    </div>
  </article>
</li>